extends layout

block footer
	a(href="/newuser") Newuser
	a(href="/userlist") Userlist
	a(href"/helloworld") Helloworld

block content
	h1= title
	h2 mitahan tapahtuu
	p Welcome to #{title}

	a(href = 'google.com') Google