extends layout

block content
	h1= title
	p Welcome to #{title}
	p The purpose of this application is unclear.

	a(href="https://www.w3schools.com/html/") visit
	a(href="https://www.google.fi/") Google
