extends layout

block content
	h1= title
	p Hello! Using this application you can make a collection of movies (and rate them).

	a(href="http://www.omdbapi.com/") OMDB
	a(href="https://www.google.fi/") Google
