doctype html
html
  head
    <!-- Latest compiled and minified CSS -->
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="-fluidcontainer")
      div(class="row")
        block footer
      block content
