doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(class="-fluidcontainer")
      div(class="row")
          a(href="/") Main
          a(href="/home") Home
          a(href="/signup") Sign up
          a(href="/userlist") Userlist
          a(href="/login") Login
          a(href="/signout") Sign Out
          a(href="/remove") Remove user
    block content
