body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.row {
	text-align: right;
	border: solid;
	border-width: 1px;
}

a {
	color: blue;
	padding: 10px;	
}

h3 {
	color: black;
}

.posterimage {
	height: 300px;
	border-radius: 10px;
	padding: 5px;
	opacity: 0.5;
	position: relative;
	top: 0px;
	right: 0px;
}

.posterimage:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	opacity: 1;
}

