body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.row {
	text-align: right;
	border: solid;
	border-width: 1px;
}

a {
	color: blue;
	padding: 10px;	
}

h3 {
	color: red;
}